/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Above is Eric Meyer's css reset code */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration-color: #222;
}

.top-bar {
    list-style-type: none;
    margin: 0;
    padding: 10px 0 10px;
    overflow: hidden;
    }

.top-left-side {
    float: left;
}

.top-item {
    display: block;
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;    
}

.top-right-side {
    float: right;
}

li a:hover {
    text-decoration: underline;
}

#sign-in {
    color: white;
    text-align: center;
    margin-right: 15px;
    padding: 10px 25px;
    float: right;
    background-color: rgb(26, 115, 232);
    border-radius: 4px;
}

/* main {
    display: flex;
    flex-direction: column;
    height: 100%;
} */

.google-top {
    display: flex;
    flex-direction: column;
}

.white-box {
    align-self: center;
    height: 200px;
    width: 100%;
    flex-grow: 0;
}

.google-box {
    align-self: center;
    flex-shrink: 1;
}

.google-logo {
    max-width: 100%;
    max-height: 100%;
}

.search-bar {
    display: flex;        
}

.form-logo-search svg {
    height: 20px;
    width: 20px;
    fill: ;
}

input {
    width: 50%;
    margin: auto;
    height: 34px;
    border-radius: 20px;
    outline: none;
    margin-top: 20px;
    border-width: 1px;
    border-color: rgba(117, 117, 117, 0.2);    
}

.button-flexbox {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

button {
    margin: 0px 5px;
    padding: 10px 16px;
    font-size: 14px;
    border: 1px solid #f8f9fa;
    background-color: #f8f9fa;
}

.white-under-google {
    display: flex;
}

.bottom-white-box {
    height: 338px;
    flex-grow: 1;
}

.united-kingdom {
    background-color: rgba(148, 148, 148, 0.25);
    padding: 15px 0px 15px 30px;
    color: grey;
    border-bottom: 1px solid rgba(117, 117, 117, 0.2);
}

.bottom-bar {
    list-style-type: none;
    margin: 0;
    padding: 10px 0 10px 15px;
    overflow: hidden;
    background-color: rgba(148, 148, 148, 0.25);
    padding-right: 20px;
}

.bottom-left-side {
    float: left;
}

.bottom-item {
    display: block;
    color: gray;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;   
}

.bottom-right-side {
    float: right;
}

#carbon {
    padding: 10px 180px 10px 180px;
    text-align: center;
}